/*
White: FFFFFF;
Dark Blue: 2B57A1;
Medium Blue: 537AD3;
Orange: EFA03E;
Green: 1BBFAB;
Lime: #7FBA49;
Purple: 3E41A8;
*/

body {
    width: 100%; /* TODO: make 900 ?*/
}
html{
  font-size: 62.5%;
}
nav {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    color: #FFFFFF;  /* white */
    font-size: 3rem;
    font-family: 'Nunito', sans-serif;
}

.nav-links a {
    color: #FFFFFF;  /* white */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 1.6rem;
}

header {
    color: #FFFFFF;  /* white */
    padding: 4rem 2rem;
    background-color: #2B57A1;  /* dark blue */

    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 7rem;
    font-family: 'Poppins', sans-serif;
    line-height: 8rem;
    margin: 1rem;
}

.dog-showcase {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 0.8rem solid #537AD3;
}

.dog-showcase img {
    width: 30rem;
    margin: -4rem 5rem 0 5rem;
}

section {
    padding: 4rem 4rem;
}

h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section h2 {
    text-align: center;
}

.pups-container {
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.pup-wrapper {
    width: 40rem;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.2);

    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
}

.pup-pic {
    width: 20rem;
    height: 20rem;

    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

#pup-1 {
    border: 0.3rem solid #1BBFAB;  /* green */
}

#pup-1 .pup-pic {
    background-image: url('./images/pup_1.jpeg');
}

#pup-2 {
    border: 0.3rem solid #3E41A8;  /* purple */
}

#pup-2 .pup-pic {
    background-image: url('./images/pup_2.webp');
}

#pup-3 {
    border: 0.3rem solid #7FBA49;  /* lime */
}

#pup-3 .pup-pic {
    background-image: url('./images/cat_1.jpeg');
}

#pup-4 {
    border: 0.3rem solid #EFA03E;  /* orange */
}

#pup-4 .pup-pic {
    background-image: url('./images/pup_4.jpg');
}

.pup-info {
    padding: 1rem 2rem;
}

.pup-name {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
}

.pup-byline,
.pup-location {
    font-family: 'Open Sans Condensed', sans-serif;
}

footer {
    background-color: #2B57A1;  /* dark blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}
